@using OurTrace.App.Models.ViewModels.Profile
@model ProfileViewModel

@if (!Model.IsHimself)
{
    @if (!Model.IsFollowing)
    {
        <form asp-controller="Relations" asp-action="Follow" method="post">
            <input type="hidden" name="receiver" value="@Model.Username" />
            <div style="width:100%"><button class="btn-success" style="width:100%" type="submit" value="submit"> Follow</button></div>
        </form>
    }
    else
    {
        <form asp-controller="Relations" asp-action="Unfollow" method="post">
            <input type="hidden" name="receiver" value="@Model.Username" />
            <div style="width:100%"><button class="btn-danger" style="width:100%" type="submit" value="submit"> Unfollow</button></div>
        </form>
    }
    @if (!Model.AreFriends)
    {
        if (Model.PendingFriendship)
        {
            <form asp-controller="Relations" asp-action="RevokeFriendship" method="post">
                <input type="hidden" name="receiver" value="@Model.Username" />
                <div style="width:100%">
                    <button class="btn-info" style="width:100%" type="submit" value="submit">Pending friendship request</button>
                </div>
            </form>
        }
        else if (Model.CanAcceptFriendship)
        {
            <form asp-controller="Relations" asp-action="SendFriendship" method="post">
                <input type="hidden" name="receiver" value="@Model.Username" />
                <div style="width:100%">
                    <button class="btn-primary btn-outline-secondary" style="width:100%" type="submit" value="submit"> Accept friendship</button>
                </div>
            </form>
        }
        else
        {
            <form asp-controller="Relations" asp-action="SendFriendship" method="post">
                <input type="hidden" name="receiver" value="@Model.Username" />
                <div style="width:100%">
                    <button class="btn-info" style="width:100%" type="submit" value="submit"> Send friend request</button>
                </div>
            </form>
        }
    }
    else
    {
        <form asp-controller="Relations" asp-action="RevokeFriendship" method="post">
            <input type="hidden" name="receiver" value="@Model.Username" />
            <div style="width:100%"><button class="btn-danger" style="width:100%" type="submit" value="submit"> Unfriend</button></div>
        </form>
        <a asp-controller="Message" asp-action="Chat" asp-route-name="@Model.Username" class="btn btn-primary full-width bg-primary mt-1" method="post">Send Message</a>
    }
}
