@using OurTrace.App.Models.ViewModels.Message
@model MessageCollectionViewModel
@{
    ViewData["Title"] = "Chat";
}

@section Css {
    <link rel="stylesheet" type="text/css" href="~/css/chat.css">
}

<div class="offset-3 col-md-6">
    <div class="chat-container chatbox-container-teal chat-container-username">
        <img src="@Url.Action("ProfilePicture","File",new { name = Model.Recipient})" alt="Avatar" style="width:100%;">
        <span id="recipient-name" class="font-weight-bold">@Model.Recipient</span>
    </div>

    <div class="paddy-container">
        <div id="chatbox-chat-container">
            @if (Model.Messages.Count == 0)
            {
                <div class="bg-white text-center p-3 ml-2 mr-2">
                    No messages... yet.
                </div>
            }
            @for (int i = 0; i < Model.Messages.Count; i++)
            {
                var currentMessage = Model.Messages.ElementAt(i);
                var containerClass = "";
                var timeClass = "time-left";
                var messagesAndAvatarClass = "";

                if (currentMessage.Sender == this.User.Identity.Name)
                {
                    containerClass = "chat-darker";
                    timeClass = "time-right";
                    messagesAndAvatarClass = "chat-text-right";
                }
                <div class="chat-container @containerClass">
                    <img src="@Url.Action("ProfilePicture","File",new { name = currentMessage.Sender })" alt="" class="@messagesAndAvatarClass" style="width:100%;">
                    <div class="chat-username chat-text @messagesAndAvatarClass">@currentMessage.Sender</div>
                    <div class="chat-text @messagesAndAvatarClass">@currentMessage.Content</div>
                    <span class="utcDate @timeClass">@currentMessage.CreatedOn</span>
                </div>
            }
        </div>
    </div>
    <div id="chat-send-message-container" class="paddy-container mt-2 typing-msg">
        <partial name="_ChatSendMessagePartial" model="null" />
    </div>

</div>


@section Scripts {
    <script src="~/js/chat.js" asp-append-version="true"></script>
}
