@using OurTrace.App.Models.ViewModels.Settings
@model ICollection<SettingsFriendRequestViewModel>

<div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab">
    <div class="acc-setting">
        <h3>Friend Requests</h3>
        <div class="requests-list">
            @if (Model.Any())
            {
                <form method="post" id="_AjaxAntiForgeryRequestAccept">
                    @Html.AntiForgeryToken()
                </form>
            }

            @foreach (var request in Model)
            {
                <div class="request-details">
                    <div class="noty-user-img">
                        <img src="/file/profilepicture/@request.Username" alt="">
                    </div>
                    <div class="request-info">
                        <h3>@request.Username</h3>
                        <span>@request.FullName</span>
                    </div>
                    <div class="accept-feat">
                        <ul>
                            <li><button type="submit" class="accept-req" data-url="@Url.Action("SendFriendship","Relations")">Accept</button></li>
                            <li><button type="submit" class="close-req" data-url="@Url.Action("RevokeFriendship","Relations")"><i class="la la-close"></i></button></li>
                        </ul>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
