@using OurTrace.App.Models.ViewModels.Home
@model NewsfeedViewModel

@{
    ViewData["Title"] = "Newsfeed";
}

<div class="main-section mt-2">
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                    <div class="main-left-sidebar no-margin">
                        <div class="user-data full-width">
                            <div class="user-profile">
                                <div class="username-dt">
                                    <div class="usr-pic">
                                        <img src="@Url.Action("ProfilePicture","File",new { name=this.User.Identity.Name })" alt="">
                                    </div>
                                </div><!--username-dt end-->
                                <div class="user-specs">
                                    <h3>@this.User.Identity.Name</h3>
                                    <span>@Model.FullName</span>
                                </div>
                            </div><!--user-profile end-->
                            <ul class="user-fw-status">
                                <li>
                                    <h4>Following</h4>
                                    <span>@Model.Following</span>
                                </li>
                                <li>
                                    <h4>Followers</h4>
                                    <span>@Model.Followers</span>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="Profile" title="">View Profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tags-sec full-width no-pdd">
                            <div class="sd-title">
                                <h3>Shortcuts</h3>
                            </div>
                            <div class="jobs-list">
                                <div class="job-info">
                                    <div class="job-details">
                                        <h3><a style="color:black" asp-controller="Group" asp-action="MyGroups">Groups</a></h3>
                                        @foreach (var group in Model.MemberOfGroups)
                                        {
                                            <p class="pl-2 full-width" style="border:none">
                                                <a class="text-black-50" asp-controller="Group" asp-action="Open" asp-route-name="@group">@group</a>
                                            </p>
                                        }
                                        <h3><a style="color:black" asp-controller="Group" asp-action="Discover">Discover</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div><!--tags-sec end-->
                    </div>
                </div>

                <div id="newsfeed" class="col-lg-6 col-md-8 no-pd">
                    <vc:posts model="Model.Posts"></vc:posts>
                    <!--SPINNER-->
                    <form asp-controller="Home" asp-action="ReceivePosts">
                        <div id="posts-spinner" class="process-comm mb-2">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </form>

                    <!--SPINNER-->
                </div>


                <div class="col-lg-3 pd-right-none no-pd">
                    <div class="right-sidebar">
                        <div class="widget widget-about">
                            <h3 class="pt-3">Did you know?</h3>
                            <span class="p-2">You can modify your account settings and accept friendship requests from the <a asp-controller="Settings" asp-action="Index">Settings</a></span>
                        </div><!--widget-about end-->
                        @if (Model.HotOffer != null)
                        {
                            if (Model.HotOffer.Type == OurTrace.Data.Models.AdvertType.User)
                            {
                                <a asp-controller="User" asp-action="Profile" asp-route-username="@Model.HotOffer.IssuerName">
                                    <div class="widget widget-jobs widget-big">
                                        <div class="sd-title">
                                            <h3>Hottest offer (Member)</h3>
                                        </div>
                                        <div class="widget widget-about">
                                            <h3>@Model.HotOffer.IssuerName</h3>
                                            <p>@Model.HotOffer.Content</p>
                                        </div>
                                    </div>
                                </a>
                            }
                            else if (Model.HotOffer.Type == OurTrace.Data.Models.AdvertType.Group)
                            {
                                <a asp-controller="Group" asp-action="Open" asp-route-name="@Model.HotOffer.IssuerName">
                                    <div class="widget widget-jobs widget-big">
                                        <div class="sd-title">
                                            <h3>Hottest offer (Group)</h3>
                                        </div>
                                        <div class="widget widget-about">
                                            <h3>@Model.HotOffer.IssuerName</h3>
                                            <p>@Model.HotOffer.Content</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        }

                        <div class="widget widget-about">
                            <h3 class="pt-3">Privacy</h3>
                            <span class="p-2">You can read our privacy policy <a asp-controller="Home" asp-action="Privacy">Here</a></span>
                        </div>

                    </div><!--right-sidebar end-->
                </div>
            </div>
        </div><!-- main-section-data end-->
    </div>
</div>

@section Scripts {
    <script src="~/js/post.js" asp-append-version="true"></script>
    <script src="~/js/jquery.visible.js" asp-append-version="false"></script>
    <script src="~/js/newsfeed.js" asp-append-version="true"></script>
}
