@using OurTrace.App.Models.ViewModels.Group
@model IEnumerable<GroupWindowViewModel>

@{
    ViewData["Title"] = "Discover Groups";
}
<partial name="_CreateGroupPartial" />
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Discover Famous Groups</h3>
        </div>
        <div class="companies-list">
            <div class="row">
                @foreach (var group in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="/file/grouppicture/@group.Name" style="width:90px; height: 90px;" alt="">
                                <h3><a asp-controller="Group" asp-action="Open" asp-route-name="@group.Name" class="text-black-50">@group.Name</a></h3>
                                <h4>@group.Members members</h4>
                                <ul>
                                    <li style="width:100%">
                                        <form asp-controller="Group" asp-action="Join" asp-route-name="@group.Name" method="post">
                                            <div style="width:100%"><button class="btn-success" style="width:100%" type="submit" value="submit"> Join</button></div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <a href="@group.Url" title="" class="view-more-pro">View Group</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
