@model IEnumerable<OurTrace.App.Models.ViewModels.Post.PostViewModel>

@foreach (var post in Model)
{
    <div class="posty mb-4">
        <div class="post-bar no-margin">
            <input name="postId" type="hidden" value="@post.Id" />
            <div class="post_topbar">
                <div class="usy-dt">
                    <img src="/file/profilepicture/@post.Creator" style="width:50px; height:50px;" alt="">
                    <div class="usy-name">
                        <h3><a asp-controller="User" asp-action="Profile" asp-route-username="@post.Creator" class="text-black-50">@post.Creator</a></h3>
                        <img src="~/images/clock.png" alt=""><span class="utcDate">@post.CreatedOn</span>
                    </div>
                </div>
                <div class="ed-opts">
                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                    <ul class="ed-options">
                        <li><a href="#" title="">Edit Post</a></li>
                        <li><a href="#" title="">Unsaved</a></li>
                        <li><a href="#" title="">Unbid</a></li>
                        <li><a href="#" title="">Close</a></li>
                        <li><a href="#" title="">Hide</a></li>
                    </ul>
                </div>
            </div>
            <div class="job_descp">
                <div class="postContent">
                    <div>
                        @post.Content
                    </div>
                    @if (post.MediaUrl != null)
                    {
                        <a class="popup-image" href="@post.MediaUrl">
                            <img class="mt-2 img-fluid" src="@post.MediaUrl">
                        </a>
                    }
                </div>

                <ul class="skill-tags">
                    @foreach (var tag in post.Tags)
                    {
                        if (!string.IsNullOrEmpty(tag))
                        {
                            <li><a href="#" title="">@tag</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="job-status-bar">
                <ul class="like-com">
                    <li>
                        <span></span> <!--line breaker-->
                        <a href="#"><i class="la la-heart"></i> Like</a>
                    </li>
                    <li><a href="#" title="" class="com"><img src="~/images/com.png" alt=""> Comments (@post.Comments.Count)</a></li>
                </ul>
                <a><i class="la la-share"></i>Shares @post.Shares</a>
                <a><i class="la la-heart"></i>Likes @post.Likes</a>
            </div>
        </div>

        <div class="comment-section" style="display: none;">
            <div class="comment-sec">
                <ul>
                    @foreach (var comment in post.Comments)
                    {
                        <li>
                            <div class="comment-list">
                                <div class="bg-img">
                                    <img src="/file/profilepicture/@comment.Creator" style="width:40px; height:40px;" alt="">
                                </div>
                                <div class="comment">
                                    <input name="commentId" type="hidden" value="@comment.Id" />
                                    <h3><a asp-controller="User" asp-action="Profile" asp-route-username="@comment.Creator" class="text-black-50">@comment.Creator</a></h3>
                                    <img src="~/images/clock.png" alt=""><span class="utcDate">@comment.CreatedOn</span>
                                    <p class="postContent">@comment.Content</p>

                                    <a href="#"><i class="la la-heart"></i> Like</a>
                                </div>
                            </div><!--comment-list end-->
                        </li>
                    }
                </ul>
            </div><!--comment-sec end-->
            <div class="post-comment">
                <div class="cm_img">
                    <img src="/file/profilepicture/@this.User.Identity.Name" style="width:40px; height:40px;" alt="">
                </div>
                <div class="comment_box">
                    <form>
                        <input type="text" placeholder="Post a comment">
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div><!--post-comment end-->
        </div><!--comment-section end-->
    </div>
}
@if (Model.Count() == 0)
{
    <div class="post-bar no-margin">
        <div class="post_topbar">
            <div class="usy-dt">
                <div class="usy-info">
                    <h3>Nothing to see here, I'm afraid.</h3>
                </div>
            </div>
        </div>
    </div>
}
